
/* --------------------------------------- resonsive design --------------------------------------- */
@media only screen and (max-width: 1200px) {
    .projects-display .project-box {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 90%;
    }

    .project-box .project-box-contents {
        flex-direction: column-reverse;
        border-radius: 2rem;
    }

    .project-box .description {
        width: 100%;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    
    .description .top-description-contents {
        width: 90%;
        margin-top: 2rem;
    }
    
    .project-title .project-logo {
        height: 4.8rem;
        width: 4.8rem;
    }
    
    .top-description-contents .description-of-project {
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    
    .top-description-contents .project-keywords {
        row-gap: 0.5rem;
    }
    
    .bottom-description-contents .skill-stack-container {
        width: 100%;
    }
    
    /* ----------------- project pic or vid --------------- */

    .project-box .media {
        width: 100%;
        aspect-ratio: 2/1
    }

    .media a img {
        width: 100%;
        aspect-ratio: 2/1;
    }
}





@media only screen and (max-width: 1100px) and (orientation: landscape) {
    .right-contents .personal-info {
        width: 100%;
        margin-left: 0rem;
    }
}





@media only screen and (max-width: 1121px) {
    .about-section-contents .personal-info-container {
        align-items: stretch;
    }
    .about-section-contents .right-contents {
        height: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
    }

    .right-contents .stack-and-contact-box {
        margin-top: 4rem;
    }

    .stack-and-contact-box .stack-box {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
}





@media only screen and (max-width: 944px) {
    .wrapper {
        padding: 0rem 5rem;
    }

    .about-section-contents .left-picture {
        position: relative;
        width: 30rem;
        aspect-ratio: 5/7;
    }

    .about-section-contents .right-contents {
        width: calc(100% - 32rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-contents .personal-info {
        width: 100%;
    }
}





@media only screen and (max-width: 853px) {
    .wrapper {
        padding: 0rem 4rem;
    }

    .contents-box .big-words {
        width: 100%;
        text-align: center;
    }

    .about-section-contents .personal-info-container {
        flex-direction: column;
        align-items: center;
    }

    .about-section-contents .left-picture {
        position: relative;
        width: 30rem;
        height: 30rem;
    }

    .about-section-contents .right-contents {
        width: 100%;
        row-gap: 2rem;
        margin-top: 3rem;
    }
    
    .right-contents .personal-info {
        width: 100%;
        margin-left: 0;
    }

    .services-contents .services-container {
        -moz-column-gap: 2rem;
             column-gap: 2rem;
    }

}




/* Carousel responsive - single slide on mobile */
@media only screen and (max-width: 820px) {
    .carousel-track {
        width: 32rem;
        height: 52rem;
    }

    .carousel-item--left,
    .carousel-item--right {
        opacity: 0;
        pointer-events: none;
    }

    .carousel-item--center {
        transform: translate(-50%, -50%) translateZ(0) rotateY(0deg) scale(1);
    }

    .exploration-carousel {
        gap: 1rem;
    }
}





@media only screen and (max-width: 721px) {
    .wrapper {
        padding: 0 3rem;
    }
    
    h1 {
        font-size: 4.5rem;
        line-height: 5.5rem;
    }

    .hero-section-contents .contents-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contents-box .big-words {
        width: 100%;
        text-align: center;
    }
    
    .contents-box .small-words {
        width: 90%;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    
    .right-contents .personal-info {
        width: 100%;
    }

    footer {
        padding: 10rem 5rem;
    }
}





@media only screen and (max-width: 667px) {
    .pages-nav {
        position: fixed;
        top: 7rem;
    }
    
    .pages-nav nav {
        width: 4rem;
        height: 4rem;
        background-color: var(--main-color-06);
        display: flex;
        align-items: center;
    }

    .pages-nav ul {
        display: none;
    }

    .pages-nav nav .spin {
        position: absolute;
        width: 100%;
        height: 1000%;
        background-image: none;
        -webkit-animation: rotate 3s infinite linear;
                animation: rotate 3s infinite linear;
    }

    .pages-nav nav #menu-icon {
        display: block;
        position: relative;
        z-index: 10;
        color: var(--main-color-04);
    }

    .pages-nav .burger-menu {
        display: none;
        transition: 0.25s;
    }

    .burger-menu.active {
        display: block;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        background-color: var(--main-color-06);
        z-index: 1010;
        border-radius: 1rem;
        box-shadow: 0 0 0.5rem var(--shadow);
        position: absolute;
        left: 5.2rem;
    }

    .burger-menu ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 1rem;
        z-index: 1002;
        background-color: var(--main-color-02);
        width: 13rem;
        height: 99%;
        border-radius: 1rem;
        padding: 1rem 0.5rem;
        margin: 0 1rem;
    }
    
    .burger-menu ul li {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.8rem;
        background-color: var(--main-color-06);
        width: 100%;
        box-shadow: 0 0 0.2rem var(--shadow);
    }
    
    ul li:hover {
        cursor: pointer;
    }

    .burger-menu ul li a {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: var(--main-color-06);
        padding-right: 1rem;
    }

    .projects-contents .projects-display {
        padding: 0rem;
    }
    
    .right-contents .personal-info {
        width: 100%;
        margin-left: 0rem;
    }
}





@media only screen and (max-width: 667px) {
    .buttons-container a .btn-01 {
        padding: 0.8rem 1.2rem;
    }

    .buttons-container a .btn-02 {
        padding: 0.8rem 1rem;
    }
}





@media only screen and (max-width: 593px) {
    .wrapper {
        padding: 0 1rem;
    }

    h1 {
        font-size: 5rem;
        line-height: 6rem;
    }
    
    h2 {
        font-size: 3.5rem;
        line-height: 4.2rem;
    }
    
    h3 {
        font-size: 3rem;
        line-height: 4.2rem;
    }
    
    h4 {
        font-size: 2.7rem;
        line-height: 3.5rem;
    }
    
    h5 {
        font-size: 2.3rem;
        line-height: 2.8rem;
    }
    
    h6 {
        line-height: 2.4rem;
        font-size: 1.9rem;
    }

    .buttons-container {
        -moz-column-gap: 1rem;
             column-gap: 1rem;
        left: 0rem;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    
    .buttons-container .social-media {
        flex-basis: 100%;
    }
    
    .buttons-container .social-media .icon {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .social-media .social-media-handles a:nth-child(1) .sm {
        top: 0;
        left: 0rem;
    }
    
    .social-media .social-media-handles a:nth-child(2) .sm {
        top: 0;
        left: 0;
    }
    
    .social-media .social-media-handles a:nth-child(3) .sm {
        top: 0;
        left: 0;
    }

    /* -------------------- hover effect ------------------- */
    
    .buttons-container .social-media:hover .social-media-handles a:nth-child(1) .sm {
        top: 1rem;
        left: 7rem;
    }
    
    .buttons-container .social-media:hover .social-media-handles a:nth-child(2) .sm {
        top: 6rem;
        left: 6rem;
    }
    
    .buttons-container .social-media:hover .social-media-handles a:nth-child(3) .sm {
        top: 7rem;
        left: 0rem;
    }

    main .wrapper {
        padding: 0rem 1rem;
    }

    .projects .small-words {
        padding: 0 1rem;
    }

    .projects-display .project-box {
        padding: 1rem;
    }

    footer {
        padding: 10rem 3rem;
    }
}





@media only screen and (max-width: 437px) {
    .buttons-container .social-media {
        position: relative;
        height: 12rem;
        width: 12rem;
        margin-left: 2rem;
    }

    .about-section-contents .right-contents {
        height: -webkit-fit-content;
        height: -moz-fit-content;
    }

    .right-contents .stack-and-contact-box {
        margin-top: 4rem;
    }

    .stack-and-contact-box .stack-box {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
}



@media only screen and (max-width: 350px) {
    .projects .wrapper {
        padding: 0 1rem;
    }
}